

	<form action="/question" method="post">
		<input type="text" name="title" placeholder="Title"><br>
		<input type="text" name="description" placeholder="What is your Question?">
		<input type="submit" value="Post">
	</form>



	


