<html>
	<head>
		<link rel="short cut icon" type ="img/png" href="img/Quora-Icon.png">
		<title>Quora - A place to share knowledge and better understand the world.</title>
		
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/application.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>